# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/

# Environment variable files
.env

# Logs
*.log

# Database files
energy_prediction.db

# Machine learning model files
model.pkl

# OS-specific
.DS_Store
Thumbs.db
